.final__ghost {
  z-index: 99;
  position: relative;
}

.final__ghost::before,
.final__ghost::after {
  content: "";
  display: block;
  height: 0;
  width: 0;
  position: absolute;
  border: solid 0.5em orange;
}

@media screen and (max-width: 600px) {
  .final__ghost {
    font-size: 10px;
  }
}

@media screen and (min-width: 600px) {
  .final__ghost {
    font-size: 20px;
  }
}

.final__ghost {
  position: relative;
  z-index: 110;
  height: 1em;
  width: 1em;
  background-color: green;
  display: block;
  margin-top: -1em;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}
/* using these for eyes*/


 